asgiref==3.7.2
beautifulsoup4==4.12.3
black==24.2.0
certifi==2021.5.30
charset-normalizer==3.3.2
click==8.1.7
Django==5.0.2
idna==3.6
mypy-extensions==1.0.0
packaging==23.2
pathspec==0.12.1
Pillow==8.4.0
platformdirs==4.2.0
psycopg2-binary==2.9.9
pytesseract==0.3.8
regex==2023.12.25
requests==2.31.0
soupsieve==2.5
sqlparse==0.4.4
tomli==2.0.1
typing_extensions==4.10.0
urllib3==2.2.1
